/* =======================================================================
   MENU RESPONSIVO (DRAWER)
======================================================================= */
.menu-icon {
    display: none;
    font-size: 28px;
    color: #ff6600;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 20px;
    z-index: 2001;
}

.drawer {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background: #f4f4f4;
    width: 240px;
    height: 100vh;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
    padding: 60px 20px 20px;
    z-index: 2000;
    transition: 0.3s ease;
}

.drawer-title {
    font-size: 1.8rem;
    color: #ff6600;
    margin-bottom: 30px;
}

.drawer button {
    background: #ff6600;
    color: white;
    border: none;
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.drawer button:hover {
    background: #688668f4;
}

.drawer-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1500;
}

/* Menu Responsivo Extra */
@media screen and (max-width: 422px) {
    .menu-icon {
        display: block;
    }

    header {
        justify-content: center;
        margin-top: 15px;
    }

    #nav2 {
        display: none !important;
    }

    header h1 {
        font-size: 1.5rem;
        margin: 0 auto;
        text-align: center;
    }
}
