<!-- Drawer -->
<div id="drawerOverlay" class="drawer-overlay" onclick="closeDrawer()"></div>
<div id="drawerMenu" class="drawer">
    <h1 class="drawer-title">MyCat</h1>
    <button onclick="scrollToSection('inicio'); closeDrawer()">Home</button>
    <button onclick="scrollToSection('quem-somos'); closeDrawer()">Quem Somos</button>
    <button onclick="scrollToSection('adotar'); closeDrawer()">Adotar</button>
    <button id="drawerLoginBtn" onclick="loginSection(); closeDrawer()">Login</button>
</div>